{% include 'Navbars/OwnerNavbar.html' %}
{% block content %}

<!------------------Load css file----------------------->
{% load static %}
<link rel="stylesheet" href="{% static 'SignuploginPage.css' %}">

<style>
    .form1 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
</style>

<form method="POST" class="form1 mt-5" enctype="multipart/form-data">{% csrf_token %}
    <h3 class="heading">Add Your Flat</h3>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-6">
            <label for="address">Address</label>
            <input class="input1" type="text" name="address" placeholder="Your address" required>
        </div>

        <div class="col-md-6">
            <label for="contact">Contact number</label>
            <input class="input1" type="text" name="contact" placeholder="Your contact number" required>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-6">
            <label for="price">Price</label>
            <input class="input1" type="text" name="price" placeholder="Flat price" required>
        </div>

        <div class="col-md-6"  style="display: inline;">
            <label for="flattype">Flat Type</label>

            <select name="choice" required>
                <option value="Single Room">Single Room</option>
                <option value="1-BHK">1-BHK</option>
                <option value="2-BHK">2-BHK</option>
                <option value="Other">Other</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="city"><b>City Name</b></label>
            <input type="text" class="form-control input1" placeholder="Your City" id="city" name="city" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <label for="image"><b>Image</b></label>
            <input type="file" class="form-control input1" id="image" name="image" required>
        </div>
    </div>
  
    <div class="row">
        <div class="col-md-12">
            <label for="desc">Description</label>
            <textarea name="desc" id="desc" cols="30" rows="5" placeholder="About Your Flat"></textarea>
        </div>
    </div>
  
    <input type="submit" value="Add" class="mt-3 btn btn-outline-danger form-control">
</form>

{% if error == "no" %}
<script>
    alert("Flat Added Successfully!!");
</script>
{% elif error == "yes" %}
<script>
    alert("Something Went Wrong, Try again...")
</script>
{% endif %}

{% endblock content %}