<style>
    .FStyle {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 700; 
        font-size: 22px; 
        color: white !important;
        text-align: center;
    }

    .bg{
        background-color: black;
        width: 100%;
        height: 60px;
        padding-top: 14px;
        text-align: center;
    }
    .logo {
        color: crimson; font-weight: 700;
    }
</style>

<nav class="bg">
    <a class="navbar-brand FStyle" href="/">TO<span class="logo">LET</span></a>
</nav>