<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!------------------Load css file----------------------->
{% load static %}
<link rel="stylesheet" href="{% static 'AboutUsPage.css' %}">


{% include "Navbars/HomeNav.html" %}

<div class="container mt-5 wrap">
    <div>
        <h4 class="font">About Us</h4>
        <p class="para">TO-LET is a web-based platform designed to simplify the process of finding and listing rental properties. With the aim of connecting property owners and tenants in a convenient and efficient manner, TO-LET provides a comprehensive solution for individuals seeking to rent or lease properties.</p>
    </div>

    <div>
        <h4 class="font">Our Mission</h3>
        <p class="para">At TO-LET, our mission is to streamline the rental process, making it easier for both property owners and tenants to find each other and connect seamlessly. We understand that searching for the perfect rental property can be a time-consuming and stressful task, and our platform is built with the intention of alleviating these challenges. Our goal is to create a user-friendly and reliable environment that brings together property owners and prospective tenants.</p>
    </div>

    <div>
        <h4 class="font">Features and Functionality</h4>
        <p class="para">
            TO-LET offers a range of features and functionalities to enhance the overall rental experience for both property owners and tenants. Some of the key features include:
        </p>

        <ol class="para">
            <li>Property Listings: Property owners can create detailed listings for their rental properties, including descriptions, images, location details, and other relevant information. This allows tenants to easily browse through available properties and find the ones that meet their specific requirements.</li>
            <li>Communication: TO-LET provides a messaging system that facilitates direct communication between property owners and tenants. This feature allows both parties to ask questions, discuss rental terms, and schedule property viewings, fostering effective and efficient communication throughout the rental process.</li>
            <li>User Profiles: TO-LET allows users to create profiles with essential details, such as contact information, rental history, and references. This feature helps property owners gain insights into potential tenants, promoting transparency and trust.</li>
        </ol>
    </div>

    <div>
        <h4 class="font">Technology Stack</h4>
        <p class="para">TO-LET leverages a modern and robust technology stack to provide a seamless user experience. The platform is built using a combination of the following technologies:</p>
        
        <ol class="para">
            <li>Front-end: HTML, CSS, BootStrap, JavaScript</li>
            <li>Back-end: Python, Django</li>
            <li>Database: Django built-in database SQLite</li>
            <li>Authentication and Security</li>
        </ol>
    </div>

    <div>
        <h4 class="font">Contributors</h4>
        <p class="para">TO-LET is an open-source project that welcomes contributions from developers worldwide. The project was initiated and primarily developed by <a href="https://github.com/kanhapatil/TO-LET" target="_blank">kanhapatil</a>. The collaborative efforts of developers have led to the continuous improvement and expansion of the platform's features.</p>
    </div>

    <div>
        <h4 class="font">Conclusion</h4>
        <p class="para">TO-LET is committed to revolutionizing the rental property market by offering a user-friendly and efficient platform that brings property owners and tenants together. With its intuitive features, advanced search capabilities, and secure communication channels, TO-LET aims to simplify the rental process and create a positive experience for all parties involved. Whether you're a property owner looking to list your property or a tenant searching for your ideal rental, TO-LET is here to help you find your perfect match.</p>
    </div>
</div>

{% include "Footer.html" %}

