{% extends 'Base.html' %}
{% block content %}

<style>
    .form1 {
    width: 40.5%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    }

    @media screen and (max-width:820px) {
      .form1 {
        width: 60%;
      }
    }


    @media screen and (max-width:440px) {
      .form1 {
        width: 80%;
      }
    }

    .input1 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: white;
    }

  .heading{
    color: crimson;
    font-weight: 700;
  
}
</style>

<form method="POST" class="form1 mt-5" enctype="multipart/form-data">{% csrf_token %}
    <h3 class="heading">Contact Us</h3>
    <label for="name" style="margin-top: 15px;">Name</label>
    <input class="input1" type="text" name="name" id="name" placeholder="Your name" required>

    <label for="email">Email</label>
    <input class="input1" type="email" id="email" name="email" placeholder="Your email" required>

    <label for="sub">Subject</label>
    <input class="input1" type="text" id="sub" name="sub" placeholder="Your subject" required>

    <label for="msg">Message</label>
    <textarea class="input1" name="msg" id="msg" cols="30" rows="7" placeholder="Your message" required></textarea>

    <input type="submit" value="Send message" class="mt-3 btn btn-outline-danger form-control">
</form>

  <!----------------------Java script code--------------------------->
  {% if error == "no" %}
  <script>
    alert("Send Message Successfully");
    window.location = '{% url "contactus" %}'
  </script>
    
  {% elif error == "yes" %}
  <script>
    alert("Somethin went wrong, Try again!!!");
  </script>
  {% endif %}

{% endblock content %}
