{% extends 'Base.html' %}
{% block content %} 

<style>
.card {
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 23.7%;
    float: left;
    margin: 8px;
    transition: ease 1s;
}

.card:hover {
    box-shadow: 0 6px 10px 0 rgba(11, 11, 11, 0.458);
    transform: translateY(-10px);
}

.container {
    padding: 2px 16px;
}

.booknow{
    margin-left: 10px;
    margin-bottom: 10px;
}
</style> 


<div class="container mt-5">
    {% for data in flat_data %}
        <div class="card">
            <img src="{{data.image.url}}" alt="Flat Image" style="width:100%">
            <div class="container mt-1">
              <h4 style="color: white;"><b>Price : ₹{{data.price}}</b></h4> 
              <p style="color: whitesmoke;">Flat-Type : {{data.flat_type}}</p> 
              <p style="color: whitesmoke;">Address : {{data.address}}</p> 
              <p style="color: whitesmoke;">Note : {{data.desc}}</p>
            </div>

            <div class="booknow">
                <a href="tel:{{data.contact}}" class="btn btn-outline-danger">Book Now</a>
            </div>
          </div>
        {% endfor %}
</div>

{% endblock content %}