<style>
    .no-flats {
    text-align: center;
    margin: 109px auto;
    max-width: 510px;
  }
  
  .no-flats h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .no-flats p {
    font-size: 16px;
    color: #777;
    margin-bottom: 10px;
}
</style>

<div class="no-flats">
    <h2>No Flats Found</h2>
    <p>Sorry, we couldn't find any flats matching your criteria.</p>
    <p>Please try a different city or refine your search.</p>

    <p class="text-danger">Note: The filter format should be as follows: city, min-price, max-price.</p>
    <a href="/userhome/" style="text-decoration: none;">Try, again...</a>
</div>
  