{% include 'OwnerNavbar.html' %}
{% block content %} 

<!------------------Load css file----------------------->
{% load static %}
<link rel="stylesheet" href="{% static 'myfirst.css' %}">


<div class="container mt-5 container2">
    <table class="table table-dark table-striped table-hover">
        <thead> 
            <tr> 
                <th>S. No.</th>
                <th>City</th> 
                <th>Address</th> 
                <th>Price</th> 
                <th>Type</th> 
                <th>Contact</th>
                <th>Description</th>
                <th>Action</th> 
            </tr>
        </thead>

        <tbody>
            {% for i in data %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{i.city}}</td>
                <td>{{i.address}}</td>
                <td>{{i.price}}</td>
                <td>{{i.flat_type}}</td> 
                <td>{{i.contact}}</td> 
                <td class="data-hide">{{i.desc}}</td> 
                <td> 
                    <a href="{% url 'editflat' i.id %}" class="btn btn-outline-warning">Edit</a>
                    <a href="{% url 'deleteflat' i.id %}" onclick="return confirm('Are you sure? You are deleting your added flat')" class="btn btn-outline-danger">Delete</a>
                </td> 
            </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
