{% block content %} 
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!------------------Load css file----------------------->
{% load static %}
<link rel="stylesheet" href="{% static 'ViewFlatPage.css' %}">

<style>
    
</style>

{% include "Navbars/HomeNav.html" %}

<div class="container container-view mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="img">
                <img src="{{ID.image.url}}" alt="Flat Image" class="container-view-img">
            </div>
        </div>

        <div class="col-md-6">
            <div class="content">
                <h4 style="color: white;"><b>Price : ₹{{ID.price}}</b></h4> 
                <p style="color: whitesmoke;">City : {{ID.city}}</p>
                <p style="color: whitesmoke;">Address : {{ID.address}}</p>
                <p style="color: whitesmoke;">Flat-Type : {{ID.flat_type}}</p>  
                <p style="color: whitesmoke;">Description : {{ID.desc}}</p>
            </div>

            <div>
                <a href="tel:{{ID.contact}}" class="btn btn-outline-danger">Call & BookFlat</a>
                <a href="mailto:{{ID.owner}}" class="btn btn-outline-danger">Write Mail to BookFlat</a>
            </div>

            <div class="mt-2 pb-2">
                <a href="/userhome" style="text-decoration: none; color: crimson;">🡠 return back</a>
            </div>
        </div>
    </div>
</div><br>
{% include "Footer.html" %}

{% endblock content %}