.wrap {
    width: 80%;
}

.font {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.para {
    color: black;
    font-size: 18px;
}

ol li {
    line-height: 1.4;
    margin-top: 10px;
    color: rgb(72, 72, 72);
}