.FStyle {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700; 
    font-size: 22px; 
    color: white !important;
    text-align: center;
}

.hero-container {
    background-color: #DD123D;
    height: 410px;
}

.foot {
    width: 70%;
    height: 90px;
    position: relative;
    background-color: white;
}

.card-img {
    margin-top: 10px;
    margin-left: 10px;
    width: 92.5%;
    height: 150px;
}

.card {
    background-color: black;
    color: white;
}
.inside-left {
    width: 60%;
}

.inside-right {
    width: 45%;
}

.inside-center {
    text-align: center;
    width: 45%;
}

.foot ul li {
    display: inline;
}

.hero-btn {
    background-color: black;
    transition: 1s ease;
}

.hero-btn:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.hero-text {
    color: whitesmoke;
    font-size: 17px;
}

.social-icon {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-icon {
    padding: 12px;
    margin-right: 10px;
    background-color: crimson;
    color: white;
    border-radius: 50px;
    font-size: 30px;
    text-decoration: none;
    list-style: none;
    transition: 0.5s ease-in;
}