{% extends 'Base.html' %}
{% block content %} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .card-container {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .card {
        display: flex;
        flex-basis: 272px; /* Set the initial width of each card */
        margin: 10px; /* Add some margin between cards */
        flex-direction: column;
        border: 1px solid #ccc;
        padding: 10px;
        background-color: black;
        box-shadow: 3px 4px rgba(0, 0, 0, 0.4);
        color: white;
        transition: 0.6s ease-in;
    }
    
    .card:hover{
        transform: translateY(-10px);
        box-shadow: 3px 4px rgba(0, 0, 0, 1);
    }

    .card-btn {
        transition: 0.6s ease-in;
    }

    .card-btn:hover{
        background-color: crimson;
    }

    .card img {
        width: 100%;
        height: 180px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .card-content {
        flex-grow: 1;
    }

    .card-content p {
        font-size: 14px;
        margin-bottom: 10px;
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
        color: whitesmoke;
    }

    .right {
        position: fixed;
        right: 60px;
        margin-top: 55px;
        height: 410px;
        box-shadow: 0px 0px 3px 4px rgba(0, 0, 0, 0.278);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        margin-bottom: 20px;
    }

    input, .filter-btn {
        height: 40px;
        margin-left: 7px;
    }

    .filter-btn {
        width: 96%;
    }

    .icon {
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: rgba(23, 23, 23, 0.668);
    }

    .container-fluide {
        width: 93%;
        margin: 0px auto;
    }

    @media (max-width: 980px) {
        .right {
            width: 48%;
            margin-left: 10px;
        }
    }
    
    @media (max-width: 768px) {
    .card {
        flex-basis: calc(50% - 20px); /* Adjust the width to fit two cards in a row */
        }

    .right {
        width: 100%;
        margin-left: 9%;
        position: relative;
    }
    }

    
    @media (max-width: 480px) {
    .card {
        flex-basis: 100%; /* Make the cards take up the full width on smaller screens */
        }

    .right {
        margin-left: 16%;
    }
    }
</style>


<div class="container-fluide row mt-5">
    <div class="right col-md-3 offset-1">
        <h4 class="mt-3 mb-4" style="margin-left: 7px;"><b>Apply Filters</b></h4>

        <form method="get">
            <div class="d-flex">
                <input class="form-control me-2 FStyle" type="text" name="filterCity" {% if not filter_criteria %} placeholder="Filter city" {% else %} value="{{city}}" {% endif %}>
            </div>

            <div class="d-flex mt-3">
                <input class="form-control me-2 FStyle" type="text" name="filterAddress" {% if not filter_criteria %} placeholder="Filter address" {% else %} value="{{address}}" {% endif %}>
            </div>

            <div class="d-flex mt-3">
                <input class="form-control me-2 FStyle" type="text" name="filterMinPrice" {% if not filter_criteria %} placeholder="Filter min price" {% else %} value="{{price}}" {% endif %}>
            </div>

            <div class="d-flex mt-3">
                <input class="form-control me-2 FStyle" type="text" name="filterMaxPrice" {% if not filter_criteria %} placeholder="Filter max price" {% else %} value="{{price}}" {% endif %}>
            </div>

            <div class="d-flex mt-3">
                <input class="form-control me-2 FStyle" type="text" name="filterType" {% if not filter_criteria %} placeholder="Filter flat type" {% else %} value="{{price}}" {% endif %}>
            </div>

            <button class="btn btn-outline-danger FStyle mt-3 filter-btn" type="submit">Apply</button>
          </form>
    </div>

    <div class="card-container col-md-8">
        {% for data in flats %}
            {% if data.flatstatus == "Show" %}
                <div class="card">
                    <img src="{{data.image.url}}" alt="Card Image">
            
                    <div class="card-content">
                        <h4><b>Price : ₹{{data.price}}</b></h4> 
                        <p>City : {{data.city}}</p>
                        <p>Address : {{data.address}}</p> 
                        <p>Flat-Type : {{data.flat_type}}</p> 
                        <p class="limited-text">Description : {{data.desc}}</p>
            
                        <a href="{% url 'viewflat' data.id %}" class="btn btn-outline-danger card-btn">Book Now</a>
                    </div>
                </div>
            {% endif %}
        {% empty %}
            {% include "NoFlat.html" %}
        {% endfor %}
    </div>
</div>
  
{% endblock content %}

