{% extends '../Base.html' %}
{% block content %}

<style>
    .form1 {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    }

    .input1 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
    }

    label {
    display: block;
    margin-bottom: 5px;
    color: white;
    }

  .heading{
    color: crimson;
    font-weight: 700;
  
}
</style>

<form method="POST" class="form1 mt-5" enctype="multipart/form-data">{% csrf_token %}
    <h3 class="heading">User Login</h3>
    <label for="email" style="margin-top: 15px;">Email</label>
    <input class="input1" type="email" id="email" name="email" placeholder="Your email" required>

    <label for="pwd">Password</label>
    <input class="input1" type="password" id="pwd" name="pwd" placeholder="Your password" required>

    <input type="submit" value="Login" class="mt-3 btn btn-outline-danger form-control">
    <p style="color: white; margin-top: 5px;">Don't have an account? <a href="/usersignup" style="text-decoration: none;">Signup</a></p>
</form>

<div style="margin-top: 60px;">
  {% include "Footer.html" %}
</div>

  <!----------------------Java script code--------------------------->
  {% if error == "no" %}
  <script>
    alert("Login Successfully");
  </script>

  {% elif error == "not" %}
    <script>
      alert("Your Status is Pending, Please talk to admin");
    </script>
    
  {% elif error == "yes" %}
  <script>
    alert("Somethin went wrong, Try again!!!");
  </script>
  {% endif %}

{% endblock content %}
